AUTH_EXPOSE_DEVELOPMENT_CODE=true
EMAIL_SMTP_HOST=mail.privateemail.com # optional
EMAIL_SMTP_PORT=465 # optional
EMAIL_SMTP_USERNAME=hello@openbot.run # optional
EMAIL_SMTP_PASSWORD= # optional
EMAIL_FROM=hello@openbot.run # optional
EMAIL_DELIVERY_WEBHOOK_URL= # optional
EMAIL_DELIVERY_WEBHOOK_SECRET= # optional
CLOUDFLARE_API_TOKEN=
